DATABASE_URL="file:./dev.db"
SESSION_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
PAYMENT_MODE="mock"

# Required only when PAYMENT_MODE="live"
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
